@model Kg506115MIS4200_sp20.Models.CourseDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourseDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.courseAbbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.courseAbbreviation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.studentFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.studentFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semesterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semesterDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.courseDetailsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
