@model IEnumerable<Kg506115MIS4200_sp20.Models.CourseDetails>

@{
    ViewBag.Title = "Course Details - Enrollment";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.courseAbbreviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.studentFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semesterDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.courseAbbreviation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.studentFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semesterDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseDetailsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseDetailsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseDetailsID })
        </td>
    </tr>
}

</table>
